@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/*
#codrops-ad-wrapper {
	top: auto !important;
	bottom: 10px;
}
*/

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.divide-column {
	width: 1px;
	background-color: white;
	opacity: .4;
}

.divide-row {
	height: 1px;
	background-color: white;
	opacity: .4;
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #c2c8d4;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

img {
	width: 100%;
}

.title {
	text-align: center;
	font-size: 3em;
	height: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'icomoon';
	background-color: #11171e;
	color: #ffffff;
}

.subtitle {
	text-align: center;
	font-size: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'icomoon';
	color: #9c9ea3;
}

.bl-main a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	font-size: 80%;
}

.bl-main a:hover {
	color: #fff;
}

.container { height: 100%; }

.bl-main {
	position: absolute;
	width: 100%;
	height: 85%;
	overflow: hidden;
	bottom: 0;
}

.bl-main > section {
	position: absolute;
	width: 50%;
	height: 50%;
	border: 1px solid #404042;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background-color: #262931;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 50%;
	background-color: #2c3039;
}

.bl-main > section:nth-child(3) {
	top: 50%;
	left: 0;
	background-color: #2c3039;
}

.bl-main > section:nth-child(4) {
	top: 50%;
	left: 50%;
	background-color: #262931;
}

.bl-main > section:hover {
	background-color: #1a1e23;
}

.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}


.bl-icon-about {
	color: #e4ae4e;
}

.bl-icon-works {
	color: #6de3d9;
}

.bl-icon-blog {
	color: #74d070;
}

.bl-icon-contact {
	color: #ed6969;
}

/*
.bl-icon-about {
	color: #e51edd;
}

.bl-icon-works {
	color: #1336d8;
}

.bl-icon-blog {
	color: #ec6a24;
}

.bl-icon-contact {
	color: #7b17ac;
}
*/

/*
.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-icon-close:before {
	content: "\e005";
}
*/

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.exit {
	font-size: 3em;
	margin: 10px;
}

.bl-content,
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	margin-top: 40px;
	overflow: hidden;
	overflow-y: auto;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
	opacity: .75;
}

.bl-content h2 {
	font-size: 3em;
	/*font-weight: 300;*/
	margin: 0 0 20px 0;
}

.bl-content h1 {
	font-size: 2em;
	/*font-weight: 300;*/
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.8em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
}

.bl-content > ul li {
	display: inline-block;
	width: 30%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;

}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 0px solid;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #1a1e23;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #1a1e23;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #1a1e23;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #1a1e23;
}

.bl-main > section:first-child.bl-expand h2 {
	color: #e4ae4e;
}
.bl-main > section:first-child.bl-expand h1 {
	color: #e4ae4e;
}

.bl-main > section:nth-child(2).bl-expand h2 {
	color: #6de3d9;
}
.bl-main > section:nth-child(2).bl-expand h1 {
	color: #6de3d9;
}

.bl-main > section:nth-child(3).bl-expand h2 {
	color: #74d070;
}
.bl-main > section:nth-child(3).bl-expand h1 {
	color: #74d070;
}

.bl-main > section:nth-child(4).bl-expand h2 {
	color: #be4b4b;
}
.bl-main > section:nth-child(4).bl-expand h1 {
	color: #be4b4b;
}


.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

/* Custom CSS */

.flexParent{
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	justify-content: center;
	margin-top: 20px;
	text-align: center;
}

.child {
	width: 40%;
	padding: 0 10px;
	font-size: .75em;
	margin-left: 5%;
	margin-right: 5%;
}

.skills-block {
	padding-left: 7%;
	padding-right: 7%;
}

.work-item-display {
	height: 200px;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	opacity: .75;
	transition: .7s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 1.5em;
	font-weight: bolder;
}

.work-item-display:hover {
	opacity: 1;
}

.overlay {
	background-color: #6de3d9;
}

.overlay-text {
	opacity: 1;
	color: white;
	background-color: #6de3d9;
	width: 80%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 75px;
}

.width {
	width: 50%;
	max-width: 600px;
	padding-left: 10%;
	padding-right: 10%;
}

.resume {
	width: 80%;
}

.fa {
	padding: 20px;
}

.icon {
		background-color: #8a2e2e;
		border-radius: 50%;
		align-items: center;
		text-align: center;
		font-size: 60px;
		width: 100px;
		height: 100px;
		padding-top: 18px;
		transition: 0.3s ease-in-out;
}

.icon-spacing{
	margin: 5%;
}

	.icon:hover {
		transform: scale(1.1);
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}
